* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

button {
  border: 2px solid hsl(0, 0%, 54%);
  background-color: hsl(240, 50%, 20%);
  font-weight: 400;
}

#main-container {
  background-color: rgb(36, 35, 35);
}

#userGameSearch {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
}

#top-header {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  margin-bottom: 3%;
  width: 100%;
  padding: 10px;
}

#logo img {
  border-radius: 15px;
  width: 50%;
  -webkit-filter: drop-shadow(0px 16px 10px rgba(0, 0, 225, 0.6));
  filter: drop-shadow(0px 16px 10px rgba(0, 0, 225, 0.6));
}

#search {
  width: 90%;
}

#search-bar {
  width: 65%;
  border-radius: 20px;
  background-color: rgb(187, 177, 177);
  padding: 5px;
  padding-left: 15px;

  margin-right: 10px;
  font-size: 22px;
  border: 3px solid grey;
}
#search-bar:hover {
  background-color: white;
  color: darkblue;
}

input::placeholder {
  font-style: italic;
  padding: 15px;
  color: black;
}

#search-button {
  width: 10%;

  /* border-radius: 20px; */
  background-color: rgb(187, 177, 177);
  border-top: 40px;
  cursor: pointer;
  margin-right: auto;
}

#large-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

#game-container {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.username-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.span {
  color: white;
}

.regular-text {
  width: auto;
}

p,
h2 {
  color: white;
}

.new-review {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 10px;
  border-radius: 15px;
  margin-bottom: 10px;
  font-weight: 300;
}

.failed {
  border-radius: 20px;
  padding: 20px;
  background-color: rgba(184, 6, 6, 0.884);
  font-size: 24px;
  text-align: center;
  grid-column: 1 / -1;
  margin-bottom: 50px;
}

.game-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 400px;
  border-radius: 10px;
  overflow-y: scroll;
  transition: all 1s;
  background-color: rgb(49, 49, 49);
  padding: 10px;
  text-align: center;
  width: 90%;
}

.number-of-reviews {
  font-weight: 300;
}

.new-review {
  margin-top: 10px;
}
.game-card::-webkit-scrollbar {
  width: 5px; /* Sets the scrollbar width */
}

/* Set the style of the scrollbar track */
.game-card::-webkit-scrollbar-track {
  background-color: white; /* Sets the track's background color */
}

.game-card::-webkit-scrollbar-track {
  height: 20px; /* Sets the track's background color */
}

.game-card img {
  width: 80%;
  object-fit: fill;
  border-radius: 5px;
  border-bottom: 65px;
  margin-bottom: 5px;

  border: 2px solid hsl(0, 0%, 50%);

  /* -webkit-filter: drop-shadow(0px 2px 5px rgba(105, 105, 105, 0.6));
  filter: drop-shadow(0px 2px 4px rgba(105, 105, 105, 0.6)); */

  box-shadow: 0px 12px 5px -10px rgba(105, 105, 105, 0.8),
    /* bottom shadow */ -12px 0px 5px -10px rgba(105, 105, 105, 0.8),
    /* left shadow */ 12px 0px 5px -10px rgba(105, 105, 105, 0.8); /* right shadow */
}

.game-card:hover {
  z-index: 5;
  background-color: hsl(0, 0%, 25%);
  transform: scale(1.15);
  /* -webkit-filter: drop-shadow(0px 3px 5px rgba(105, 105, 105, 0.6));
  filter: drop-shadow(0px 3px 5px rgba(105, 105, 105, 0.6)); */

  box-shadow: 0px 12px 6px 1px rgba(105, 105, 105, 0.6),
    /* bottom shadow */ -8px 1px 6px 1px rgba(105, 105, 105, 0.6),
    /* left shadow */ 10px 1px 6px 2px rgba(105, 105, 105, 0.6),
    /* right shadow */ 0px -8px 6px 2px rgba(105, 105, 105, 0.6); /* top shadow */
}

#footer {
  background-color: rgb(92, 90, 90);
  font-size: x-large;
  color: whitesmoke;
  padding-bottom: 15px;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  font-family: cursive;
  text-align: center;
  padding-top: 10px;
  /* border: 1px solid rgb(92, 90, 90); */
  margin-top: 10px;
}

.hidden {
  display: none;
}

#userSubmitButton {
  width: 10%;
  padding: 10px;
  background-color: hsl(240, 50%, 20%);
  color: white;
  border-radius: 10px;
  font-size: 22px;
  border: 2px solid hsl(0, 0%, 54%);
}

.toggle-reviews {
  margin-top: 10px;
  padding: 5px;
  width: 45%;
  border-radius: 5px;
  /* background-color: darkblue; */
  cursor: pointer;
  color: white;
}
.toggle-reviews:hover {
  background-color: white;
  color: darkblue;
}
.reviews-wrapper {
  width: 100%;
}
.reviews-individual {
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  width: 100%;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgba(0, 0, 0, 0.4);
  text-align: left;
}

.submit {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  gap: 10px;
}

.sumbit-success {
  padding: 10px;
  border-radius: 15px;
  background-color: hsla(108, 80%, 52%, 0.336);
}

.submit img {
  margin: 5px;
  padding: 5px;
  height: 35px;
  width: auto;
  background-color: rgba(0, 255, 55, 0.329);
  border-radius: 50px;
}

.review-button {
  padding: 5px;
  border-radius: 7px;
  /* background-color: darkblue; */
  cursor: pointer;
  color: white;
  width: 150px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.review-button:hover {
  background-color: white;
  color: darkblue;
}
.username,
.review {
  color: white;
}

#userSubmitButton:hover {
  background-color: white;
  color: darkblue;
}

/*--------------------------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------------------------*/
@media (max-width: 450px) {
  .game-card {
    height: 480px;
  }
  .game-card:hover {
    transform: scale(1.05);
  }
  #game-container {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(1, 1fr); /* creates 1 column */
    gap: 10px;
  }

  #userSubmitButton {
    width: 25%;
    padding: 5px;
    /* background-color: darkblue; */
    color: white;
    border-radius: 20px;
    font-size: 16px;
  }
  #userGameSearch {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: none;
  }
  #top-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    padding-top: 15px;
  }

  .game-card {
    width: 100%;
    margin-bottom: 15px;
  }

  #logo {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #logo img {
    width: 50%;
  }

  #search {
    width: 90%;
    margin-left: 10px;
    margin-top: 16px;
  }

  #search-bar {
    width: 75%;
    height: 10%;
    border-radius: 20px;
    background-color: rgb(187, 177, 177);
    font-size: 16px;
  }
  footer {
    padding: 2.25px;
    font-size: medium;
  }
}

@media (min-width: 451px) and (max-width: 889px) {
  .game-card {
    height: 450px;
  }
  #game-container {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* creates 1 column */
    /* gap: 10px; */
  }

  #top-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    padding-top: 15px;
  }
  #logo {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #logo img {
    width: 50%;
  }

  #search {
    width: 80%;
    margin-left: 10px;
    margin-top: 16px;
  }

  #userSubmitButton {
    padding: 5px;
    width: 25%;
    border-radius: 20px;
  }

  #search-bar {
    width: 75%;
    height: 10%;
    border-radius: 20px;
    background-color: rgb(187, 177, 177);
  }
  #large-container {
    justify-content: center;
  }
  .game-card {
    margin-left: 20px;
    margin-bottom: 20px;
  }
  .toggle-reviews {
    width: 50%;
  }

  footer {
    padding: 0;
  }
}

@media (min-width: 900px) and (max-width: 1500px) {
  .game-card {
    height: 500px;
  }
  #game-container {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }

  #top-header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
    flex-direction: row;
  }
  #search {
    width: 65% !important;
    margin-top: 16px;
    /* padding-right: 4.5%; */
  }
  #search-bar {
    width: 100%;
  }
  #userGameSearch {
    display: flex;
    flex-direction: row;
    gap: 0;
    justify-content: none;
  }
  .toggle-reviews {
    width: 70%;
  }
  #userSubmitButton {
    padding: 5px;
    width: 25%;
    border-radius: 20px;
  }
  #top-header {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    margin-bottom: 3%;
    width: 100%;
    padding: 2%;
  }

  #logo img {
    border-radius: 15px;
    width: 30;
    -webkit-filter: drop-shadow(0px 16px 10px rgba(0, 0, 225, 0.6));
    filter: drop-shadow(0px 16px 10px rgba(0, 0, 225, 0.6));
  }
  #logo {
    width: 30%;
  }
}

@media (min-width: 1700px) {
  .game-card {
    width: 65%;
    height: 500px;
  }
}

@media (min-width: 1500px) and (max-width: 1699px) {
  .game-card {
    width: 70%;
    height: 450px;
  }
}
